/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
    #services-9797 {
      font-family: 'Roboto', 'Arial', sans-serif;
      /* centers the button */
      text-align: center;
      padding: var(--sectionPadding);
    }
    #services-9797 .cs-container {
      width: 100%;
      max-width: 80em;
      margin: auto;
    }
    #services-9797 .cs-topper {
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: .1em;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: 1rem;
      display: block;
    }
    #services-9797 .cs-title {
      font-size: var(--headerFontSize);
      font-weight: 900;
      line-height: 1.2em;
      text-align: center;
      max-width: 50rem;
      margin: 0 auto 1rem;
      color: var(--headerColor);
      position: relative;
    }
    #services-9797 .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5rem;
      text-align: center;
      width: 100%;
      max-width: 40.625rem;
      margin: 0 auto;
      /* 48px - 68px */
      margin-bottom: clamp(3rem, 6vw, 4rem);
      color: var(--bodyTextColor);
    }
    #services-9797 .cs-card-group {
      margin: 0;
      /* 48px - 68px */
      margin-bottom: clamp(3rem, 6vw, 4rem);
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      row-gap: 1rem;
    }
    #services-9797 .cs-item {
      list-style: none;
      max-width: 31.25rem;
      /* 32px - 40px top & bottom */
      /* 28px - 40px left & right */
      padding: clamp(2rem, 3vw, 2.5rem) clamp(1.75rem, 3vw, 2.5rem);
      border-radius: 1rem;
      border: 1px solid #E8E8E8;
      box-sizing: border-box;
      transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    }
    #services-9797 .cs-item:hover {
      background-color: #fff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 50px;
      transform: translateY(-0.4375rem);
    }
    #services-9797 .cs-item:hover .cs-picture:before {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
    #services-9797 .cs-link {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    #services-9797 .cs-picture {
      width: 5rem;
      height: 5rem;
      margin: 0;
      margin-bottom: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #FFF5E6;
      position: relative;
      z-index: 1;
    }
    #services-9797 .cs-icon {
      height: 2rem;
      width: auto;
    }
    #services-9797 .cs-h3 {
      font-size: 1.25rem;
      font-weight: 900;
      text-align: center;
      line-height: 1.2em;
      margin: 0;
      margin-bottom: 0.75rem;
      color: var(--headerColor);
      transition: color .3s;
    }
    #services-9797 .cs-item-p {
      font-size: 1rem;
      text-align: center;
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
      transition: color .3s;
    }
    #services-9797 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: auto;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: var(--primary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
    }
    #services-9797 .cs-button-solid:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width .3s;
    }
    #services-9797 .cs-button-solid:hover:before {
      width: 100%;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48em) {
    #services-9797 .cs-card-group {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
      /* 16px - 20px */
      column-gap: clamp(1rem, 2vw, 1.25rem);
    }
  }
  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode #services-9797 .cs-topper {
      color: var(--primaryLight);
    }
    body.dark-mode #services-9797 .cs-title,
    body.dark-mode #services-9797 .cs-text,
    body.dark-mode #services-9797 .cs-h3,
    body.dark-mode #services-9797 .cs-item-p {
      color: var(--bodyTextColorWhite);
    }
    body.dark-mode #services-9797 .cs-picture {
      background-color: var(--medium);
    }
    body.dark-mode #services-9797 .cs-item {
      position: relative;
      transition: background-color 0.3s, transform 0.3s;
    }
    body.dark-mode #services-9797 .cs-item:hover {
      background-color: var(--accent);
    }
    body.dark-mode #services-9797 .cs-item:hover:before {
      opacity: 1;
    }
    body.dark-mode #services-9797 .cs-item:hover .cs-h3,
    body.dark-mode #services-9797 .cs-item:hover .cs-item-p {
      color: #fff;
    }
  }


  /*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {

    #sbs-1648 {
      font-family: 'Roboto', 'Arial', sans-serif;
      padding: var(--sectionPadding);
    }
    #sbs-1648 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
    }
    #sbs-1648 .cs-left {
      width: 95%;
      max-width: 34.375rem;
      margin: 0 auto 3rem;
      position: relative;
      display: block;
      /* width divided by height */
      aspect-ratio: 0.93134328;
      border-radius: 1rem;
    }
    #sbs-1648 .cs-left:before {
      /* Top right box */
      content: '';
      width: 10rem;
      /* 202px - 248px */
      height: clamp(12.625rem, 25vw, 15.5rem);
      background: #1a1a1a;
      opacity: 1;
      border-radius: 1rem;
      position: absolute;
      display: block;
      /* 16px -20px */
      /* wrapped in a calc funtion to get a negative clamp value */
      top: calc(clamp(.5rem, 2.09vw, 1.25rem) * -1);
      right: calc(clamp(.5rem, 2.09vw, 1.25rem) * -1);
    }
    #sbs-1648 .cs-left:after {
      /* Bottom left box */
      content: '';
      width: 10rem;
      /* 202px - 248px */
      height: clamp(12.625rem, 25vw, 15.5rem);
      background: #1a1a1a;
      opacity: 1;
      border-radius: 1rem;
      position: absolute;
      display: block;
      /* 16px -20px */
      /* wrapped in a calc funtion to get a negative clamp value */
      bottom: calc(clamp(.5rem, 2.09vw, 1.25rem) * -1);
      left: calc(clamp(.5rem, 2.09vw, 1.25rem) * -1);
      z-index: -1;
    }
    #sbs-1648 .cs-left img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 1rem;
    }
    #sbs-1648 .cs-right {
      margin: auto;
      max-width: 33.875rem;
    }
    #sbs-1648 .cs-topper {
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: left;
      letter-spacing: .1em;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: 1rem;
      display: block;
    }
    #sbs-1648 .cs-title {
      font-size: var(--headerFontSize);
      font-weight: 900;
      line-height: 1.2em;
      text-align: left;
      max-width: 50rem;
      margin: 0 auto 1rem;
      color: var(--headerColor);
      position: relative;
    }
    #sbs-1648 .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: left;
      width: 100%;
      max-width: 46.875rem;
      margin: 0 auto;
      margin-bottom: 1rem;
      color: var(--bodyTextColor);
    }
    #sbs-1648 .cs-text:last-of-type {
      margin-bottom: 2rem;
    }
    #sbs-1648 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875em, 5.5vw, 3.5em);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: auto;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: var(--primary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
    }
    #sbs-1648 .cs-button-solid:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width .3s;
    }
    #sbs-1648 .cs-button-solid:hover:before {
      width: 100%;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48em) {
    #sbs-1648 .cs-container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    #sbs-1648 .cs-left {
      /* 328px - 502px */
      width: clamp(20.5rem, 37.5vw, 31.375rem);
      /* 440px - 520px */
      height: clamp(27.5rem, 40vw, 32.5rem);
      margin: 0;
      /* 16px - 20px */
      margin-left: clamp(1rem, 5vw, 1.25rem);
      /* 60px - 128px */
      margin-right: clamp(3.75rem, 9vw, 8rem);
      flex: none;
    }
    #sbs-1648 .cs-right {
      max-width: 33rem;
      margin: 0;
      width: 45%;
    }
  }
  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode #sbs-1648 .cs-left:before,
    body.dark-mode #sbs-1648 .cs-left:after {
      background: var(--accent);
    }
    body.dark-mode #sbs-1648 .cs-title,
    body.dark-mode #sbs-1648 .cs-text {
      color: var(--bodyTextColorWhite);
    }
  }


  /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    :root {
      /* remove this whole :root and put in your global css file that's shared on all pages, then just remove this section from all other Stitches you add later, only need this once in your global stylesheet */
      --primary: #5A766A;
      --primaryLight: #5A766A;
      --secondary: #FFBA43;
      --secondaryLight: #FFBA43;
      --headerColor: #1a1a1a;
      --bodyTextColor: #4E4B66;
      --bodyTextColorWhite: #FAFBFC;
      /* 13px - 16px */
      --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
      /* 31px - 49px */
      --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
      --bodyFontSize: 1rem;
      /* 60px - 100px top and bottom */
      --sectionPadding: clamp(3.75em, 7.82vw, 6.25em) 1rem;
    }
    #services-4587 {
      /* remove the font family so the Stitch inherits the fonts from your global stylesheet */
      font-family: 'Roboto', 'Arial', sans-serif;
      padding: var(--sectionPadding);
    }
    #services-4587 .cs-container {
      width: 100%;
      max-width: 80em;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
    #services-4587 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }
    #services-4587 .cs-flex-group {
      /* prevents flexbox from squishing it */
      flex: none;
    }
    #services-4587 .cs-topper {
      font-size: var(--topperFontSize);
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: inherit;
      letter-spacing: .1em;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: 0.25rem;
      display: block;
    }
    #services-4587 .cs-title {
      font-size: var(--headerFontSize);
      font-weight: 900;
      line-height: 1.2em;
      text-align: inherit;
      /* 22 characters including spaces */
      max-width: 22ch;
      margin: 0 0 1rem 0;
      color: var(--headerColor);
      position: relative;
    }
    #services-4587 .cs-color {
      color: var(--primary);
    }
    #services-4587 .cs-text {
      font-size: var(--bodyFontSize);
      line-height: 1.5em;
      text-align: inherit;
      width: 100%;
      max-width: 33.8125rem;
      margin: 0;
      color: var(--bodyTextColor);
    }
    #services-4587 .cs-card-group {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      row-gap: 1rem;
    }
    #services-4587 .cs-item {
      list-style: none;
      /* changes on tablet */
      max-width: 28.875rem;
      /* 24px - 40px top & bottom */
      padding: clamp(1.25rem, 4vw, 2.5rem) 1.5rem;
      background-color: #F7F8F8;
      box-sizing: border-box;
      transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    }
    #services-4587 .cs-item:hover {
      background-color: #fff;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 50px;
      transform: translateY(-0.4375rem);
    }
    #services-4587 .cs-item:hover .cs-picture:before {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
    #services-4587 .cs-link {
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    #services-4587 .cs-picture {
      width: 4rem;
      height: 4rem;
      margin: 0;
      margin-bottom: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #fff;
      box-shadow: 0px 12px 30px rgba(26, 26, 26, 0.04);
      position: relative;
      z-index: 1;
    }
    #services-4587 .cs-icon {
      height: 2rem;
      width: auto;
    }
    #services-4587 .cs-h3 {
      font-size: 1.25rem;
      font-weight: 900;
      text-align: center;
      line-height: 1.2em;
      margin: 0;
      margin-bottom: 0.75rem;
      color: var(--headerColor);
      transition: color .3s;
    }
    #services-4587 .cs-item-p {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      text-align: center;
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
      transition: color .3s;
    }
  }
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #services-4587 .cs-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    #services-4587 .cs-card-group {
      /* pushes down the same amount the 2nd and 5th cards are translated down to maintain the even spacing at the bottom of the cs-card-group */
      margin-bottom: 2.5rem;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      column-gap: 1.25rem;
    }
    #services-4587 .cs-item {
      width: 30vw;
      max-width: 25.8125rem;
    }
    #services-4587 .cs-item:nth-of-type(2),
    #services-4587 .cs-item:nth-of-type(5) {
      transform: translateY(2.5rem);
    }
    #services-4587 .cs-item:nth-of-type(2):hover,
    #services-4587 .cs-item:nth-of-type(5):hover {
      /* make these two have a separate hover translate amount, they're already translated 40px down, so to match the same hover animatons as the other cards we just subtract their translate values from the 40px and they will move up by the same amount as the other cards */
      transform: translateY(2.0625rem);
    }
  }
  /* Dark Mode */
  @media only screen and (min-width: 0rem) {
    body.dark-mode #services-4587 .cs-topper {
      color: var(--primaryLight);
    }
    body.dark-mode #services-4587 .cs-title,
    body.dark-mode #services-4587 .cs-text,
    body.dark-mode #services-4587 .cs-h3,
    body.dark-mode #services-4587 .cs-item-p {
      color: var(--bodyTextColorWhite);
    }
    body.dark-mode #services-4587 .cs-text,
    body.dark-mode #services-4587 .cs-item-p {
      opacity: .8;
    }
    body.dark-mode #services-4587 .cs-item {
      background-color: var(--medium);
    }
  }
                                  