/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #services-9797 {
    font-family: 'Roboto', 'Arial', sans-serif;
    /* centers the button */
    text-align: center;
    padding: var(--sectionPadding);
  }
  #services-9797 .cs-container {
    width: 100%;
    max-width: 80em;
    margin: auto;
  }
  #services-9797 .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 1rem;
    display: block;
  }
  #services-9797 .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: center;
    max-width: 50rem;
    margin: 0 auto 1rem;
    color: var(--headerColor);
    position: relative;
  }
  #services-9797 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5rem;
    text-align: center;
    width: 100%;
    max-width: 40.625rem;
    margin: 0 auto;
    /* 48px - 68px */
    margin-bottom: clamp(3rem, 6vw, 4rem);
    color: var(--bodyTextColor);
  }
  #services-9797 .cs-card-group {
    margin: 0;
    /* 48px - 68px */
    margin-bottom: clamp(3rem, 6vw, 4rem);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 1rem;
  }
  #services-9797 .cs-item {
    list-style: none;
    max-width: 31.25rem;
    /* 32px - 40px top & bottom */
    /* 28px - 40px left & right */
    padding: clamp(2rem, 3vw, 2.5rem) clamp(1.75rem, 3vw, 2.5rem);
    border-radius: 1rem;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  }
  #services-9797 .cs-item:hover {
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 50px;
    transform: translateY(-0.4375rem);
  }
  #services-9797 .cs-item:hover .cs-picture:before {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  #services-9797 .cs-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #services-9797 .cs-picture {
    width: 5rem;
    height: 5rem;
    margin: 0;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FFF5E6;
    position: relative;
    z-index: 1;
  }
  #services-9797 .cs-icon {
    height: 2rem;
    width: auto;
  }
  #services-9797 .cs-h3 {
    font-size: 1.25rem;
    font-weight: 900;
    text-align: center;
    line-height: 1.2em;
    margin: 0;
    margin-bottom: 0.75rem;
    color: var(--headerColor);
    transition: color .3s;
  }
  #services-9797 .cs-item-p {
    font-size: 1rem;
    text-align: center;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    transition: color .3s;
  }
  #services-9797 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: auto;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #services-9797 .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width .3s;
  }
  #services-9797 .cs-button-solid:hover:before {
    width: 100%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48em) {
  #services-9797 .cs-card-group {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    /* 16px - 20px */
    column-gap: clamp(1rem, 2vw, 1.25rem);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #services-9797 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #services-9797 .cs-title,
  body.dark-mode #services-9797 .cs-text,
  body.dark-mode #services-9797 .cs-h3,
  body.dark-mode #services-9797 .cs-item-p {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #services-9797 .cs-picture {
    background-color: var(--medium);
  }
  body.dark-mode #services-9797 .cs-item {
    position: relative;
    transition: background-color 0.3s, transform 0.3s;
  }
  body.dark-mode #services-9797 .cs-item:hover {
    background-color: var(--accent);
  }
  body.dark-mode #services-9797 .cs-item:hover:before {
    opacity: 1;
  }
  body.dark-mode #services-9797 .cs-item:hover .cs-h3,
  body.dark-mode #services-9797 .cs-item:hover .cs-item-p {
    color: #fff;
  }
}
                                
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {

  #sbs-1648 {
    font-family: 'Roboto', 'Arial', sans-serif;
    padding: var(--sectionPadding);
  }
  #sbs-1648 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
  }
  #sbs-1648 .cs-left {
    width: 95%;
    max-width: 34.375rem;
    margin: 0 auto 3rem;
    position: relative;
    display: block;
    /* width divided by height */
    aspect-ratio: 0.93134328;
    border-radius: 1rem;
  }
  #sbs-1648 .cs-left:before {
    /* Top right box */
    content: '';
    width: 10rem;
    /* 202px - 248px */
    height: clamp(12.625rem, 25vw, 15.5rem);
    background: #1a1a1a;
    opacity: 1;
    border-radius: 1rem;
    position: absolute;
    display: block;
    /* 16px -20px */
    /* wrapped in a calc funtion to get a negative clamp value */
    top: calc(clamp(.5rem, 2.09vw, 1.25rem) * -1);
    right: calc(clamp(.5rem, 2.09vw, 1.25rem) * -1);
  }
  #sbs-1648 .cs-left:after {
    /* Bottom left box */
    content: '';
    width: 10rem;
    /* 202px - 248px */
    height: clamp(12.625rem, 25vw, 15.5rem);
    background: #1a1a1a;
    opacity: 1;
    border-radius: 1rem;
    position: absolute;
    display: block;
    /* 16px -20px */
    /* wrapped in a calc funtion to get a negative clamp value */
    bottom: calc(clamp(.5rem, 2.09vw, 1.25rem) * -1);
    left: calc(clamp(.5rem, 2.09vw, 1.25rem) * -1);
    z-index: -1;
  }
  #sbs-1648 .cs-left img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
  }
  #sbs-1648 .cs-right {
    margin: auto;
    max-width: 33.875rem;
  }
  #sbs-1648 .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 1rem;
    display: block;
  }
  #sbs-1648 .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: left;
    max-width: 50rem;
    margin: 0 auto 1rem;
    color: var(--headerColor);
    position: relative;
  }
  #sbs-1648 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: left;
    width: 100%;
    max-width: 46.875rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    color: var(--bodyTextColor);
  }
  #sbs-1648 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-1648 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875em, 5.5vw, 3.5em);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: auto;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #sbs-1648 .cs-button-solid:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width .3s;
  }
  #sbs-1648 .cs-button-solid:hover:before {
    width: 100%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48em) {
  #sbs-1648 .cs-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #sbs-1648 .cs-left {
    /* 328px - 502px */
    width: clamp(20.5rem, 37.5vw, 31.375rem);
    /* 440px - 520px */
    height: clamp(27.5rem, 40vw, 32.5rem);
    margin: 0;
    /* 16px - 20px */
    margin-left: clamp(1rem, 5vw, 1.25rem);
    /* 60px - 128px */
    margin-right: clamp(3.75rem, 9vw, 8rem);
    flex: none;
  }
  #sbs-1648 .cs-right {
    max-width: 33rem;
    margin: 0;
    width: 45%;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #sbs-1648 .cs-left:before,
  body.dark-mode #sbs-1648 .cs-left:after {
    background: var(--accent);
  }
  body.dark-mode #sbs-1648 .cs-title,
  body.dark-mode #sbs-1648 .cs-text {
    color: var(--bodyTextColorWhite);
  }
}
                                
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/
/* Mobile - 360px - Contains hover animation */
@media only screen and (min-width: 0em) {
  #gallery {
    /* Centers button */
    text-align: center;
    padding: var(--sectionPadding);
    position: relative;
    /* Prevents overflow from the image going off screen */
    overflow: hidden;
  }
  #gallery .cs-container {
    width: 100%;
    max-width: 82.625em;
    margin: auto;
  }
  #gallery .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 1rem;
    display: block;
  }
  #gallery .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 700;
    line-height: 1.2em;
    text-align: center;
    max-width: 38.8125rem;
    margin: 0 auto;
    margin-bottom: 2.5rem;
    color: var(--headerColor);
    position: relative;
  }
  #gallery .cs-image-group {
    /* used rem so it doesn't scale with the font size of on parent */
    font-size: min(1.1vw, 1em);
    width: 100%;
    max-width: 82.625em;
    padding: 0;
    margin: 0 auto 3.75rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1.875em;
  }
  #gallery .cs-row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.875em;
  }
  #gallery .cs-picture {
    position: relative;
    display: block;
  }
  #gallery .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #gallery .cs-row-1 .cs-picture-1 {
    width: 26.25em;
    height: 35.4375em;
  }
  #gallery .cs-row-1 .cs-picture-2 {
    width: 26.25em;
    height: 39.3125em;
  }
  #gallery .cs-row-1 .cs-picture-3 {
    width: 26.25em;
    height: 32em;
  }
  #gallery .cs-row-2 .cs-picture-1 {
    width: 26.25em;
    height: 30.75em;
  }
  #gallery .cs-row-2 .cs-picture-2 {
    width: 26.25em;
    height: 32.3125em;
  }
  #gallery .cs-row-2 .cs-picture-3 {
    width: 26.25em;
    height: 39.3125em;
  }
  #gallery .cs-row-3 .cs-picture-1 {
    width: 26.25em;
    height: 39.0625em;
  }
  #gallery .cs-row-3 .cs-picture-2 {
    width: 26.25em;
    height: 28.25em;
  }
  #gallery .cs-row-3 .cs-picture-3 {
    width: 26.25em;
    height: 39.3125em;
  }
}
/* Dark mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #gallery .cs-title {
    color: var(--bodyTextColorWhite);
  }
}
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0em) {
  #reviews-2968 {
    font-family: 'Roboto', 'Arial', sans-serif;
    position: relative;
  }
  #reviews-2968 .cs-image {
    width: 100%;
    max-height: 28.125rem;
    display: block;
    position: relative;
    aspect-ratio: 0.94736842;
  }
  #reviews-2968 .cs-image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #reviews-2968 .cs-content {
    max-width: 39.375rem;
    padding: var(--sectionPadding);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
  }
  #reviews-2968 .cs-review {
    /* 25px - 39px */
    font-size: clamp(1.5625rem, 3.9vw, 2.4375rem);
    text-align: left;
    margin: 0;
    /* 28px - 40px */
    margin-bottom: clamp(1.75rem, 3vw, 2.5rem);
    color: var(--bodyTextColor);
  }
  #reviews-2968 .cs-quote {
    width: 2.5rem;
    height: auto;
    margin-bottom: 2rem;
    display: block;
  }
  #reviews-2968 .cs-info {
    display: flex;
    justify-content: auto;
    align-items: center;
  }
  #reviews-2968 .cs-flex {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: content;
  }
  #reviews-2968 .cs-profile {
    width: 3.125rem;
    height: auto;
    margin-right: 0.75rem;
    border-radius: 50%;
    display: block;
  }
  #reviews-2968 .cs-name {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    color: var(--headerColor);
    display: block;
    flex-basis: content;
  }
  #reviews-2968 .cs-job {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
    width: 12.5rem;
    color: var(--bodyTextColor);
    display: block;
    flex-basis: content;
  }
  #reviews-2968 .cs-watermark {
    /* 87px - 136px */
    width: clamp(5.4375rem, 12.2vw, 8.5rem);
    height: auto;
    opacity: .09;
    position: absolute;
    bottom: 0;
    right: 1.25rem;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48em) {
  #reviews-2968 {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
  }
  #reviews-2968 .cs-image {
    width: 44%;
    height: auto;
    max-height: 100%;
    /* prevent flexbox from squishing it */
    flex: none;
    aspect-ratio: initial;
  }
  #reviews-2968 .cs-content {
    /* 76px - 128px */
    padding-left: clamp(4.75rem, 10vw, 8rem);
    padding-right: 2rem;
  }
  #reviews-2968 .cs-watermark {
    /* 16px - 175px */
    right: calc(clamp(1rem, 9.5vw, 10.9375rem)*-1);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #reviews-2968 .cs-review,
  body.dark-mode #reviews-2968 .cs-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #reviews-2968 .cs-job {
    color: var(--bodyTextColorWhite);
    opacity: .7;
  }
}
                                
/*-- -------------------------- -->
<---    Final Call To Action    -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0em) {
  #cta {
    position: relative;
    padding: 3.125rem 0;
  }
  #cta:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #cta .container {
    text-align: center;
  }
  #cta picture {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
  }
  #cta picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  #cta .title {
    font-weight: 900;
    font-size: min(9vw, 3rem);
    line-height: 1.20833333;
    color: #fff;
    position: relative;
    margin-bottom: 2.25rem;
    text-align: center;
  }
  #cta p {
    color: #fff;
    text-align: center;
    opacity: 1;
    margin: auto;
    margin-bottom: 2.25rem;
    width: 96%;
    max-width: 37.375rem;
  }
}
/* Small Desktop */
@media only screen and (min-width: 64em) {
  #cta {
    padding: 10.5rem 0;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  #cta {
    position: relative;
    margin-top: 6.25rem;
  }
  #cta:before {
    display: none;
  }
  #cta:after {
    content: '';
    position: absolute;
    display: block;
    height: 69.25rem;
    width: 125rem;
    background: url("/assets/svgs/cta-squares.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -3;
  }
  #cta .container {
    width: 90.0625%;
    margin: auto;
  }
  #cta picture {
    width: 90.0625%;
    left: 50%;
    transform: translateX(-50%);
  }
  #cta picture:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0em) {
  body.dark-mode #cta:after {
    display: none;
  }
}
